<div class="FirstView">
  <section class="container">
    <h2 class="FirstView_title">
      Potepan Shareで<br>
      まだ体験したことのない<br>
      旅をしよう
    </h2>
<p>Find me in app/views/home/index.html.erb</p>

